@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
  line-height: 1.6;
}

header {
  background-color: #0d0d0d;
  color: #fff;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #222;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #80a0aa;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #00ccff;
}

/* HERO */
.hero {
  height: 100vh;
  padding-top: 100px;
  background: url('hero.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #0cf;
  max-width: 90%;
  border-radius: 10px;
}

/* CARROSSEL */
.carousel-container {
  padding: 80px 30px;
  background-color: #1b1b1b;
}

.carousel-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 10px;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #2a2a2a;
  min-width: 280px;
  max-width: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.card p {
  padding: 15px;
  font-size: 15px;
  color: #ddd;
}

/* FOOTER */
footer {
  background-color: #0d0d0d;
  text-align: center;
  color: #aaa;
  padding: 20px 10px;
  font-size: 14px;
  border-top: 1px solid #222;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin: 10px 10px 0 0;
    display: inline-block;
  }

  .hero h1 {
    font-size: 24px;
    padding: 15px;
  }

  .carousel-container {
    padding: 40px 20px;
  }

  .carousel-title {
    font-size: 22px;
  }
}
